<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{title}}</title>
	<meta charset="utf-8">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
	<meta name="apple-mobile-web-app-capable" content="yes" />

	<link rel="stylesheet" href="/build/software-testing.css">
	<link rel="stylesheet" href="/build/vendor.css">
</head>
<body>
	<input id="userData" type="hidden" name="users" value="{{users}}" />
    <div id="reduxWorkshopContainer"></div>
	<div id="modalContainer"></div>
    <script src="/build/react.min.js"></script>
    <script src="/build/react-dom.min.js"></script>
    <script src="/build/App.js"></script>
</body>
</html>
