#reduxWorkshopContainer {
    padding: 5%;

    .code-craftsmanship-container {
        display: flex;
        flex-direction: column;

        &-label {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 5em;
            background: #2d2d2d !important;
            margin-bottom: 2%;

            > strong {
                color: #61dafb !important;
                font-weight: 400 !important;
                font-size: 3.75rem;
            }
        }

        .add-user-btn-container {
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }

        .add-user-btn {
            width: 12rem;
            height: 3rem;
            font-size: 1.5rem;
            font-weight: 500;
        }
    }
}