.users-container, .user-details-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 2.5em;
    cursor: pointer;

    &:hover {
        background-color: #87b0d3;
    }

    &-email,
    &-first-name,
    &-last-name,
    &-gender,
    &-id {
        width: 100%;
    }
}